*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

button{
    cursor: pointer;
}

.produit{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.tout{
    display: flex;
    flex-direction: column;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 14rem;
}

.login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login a{
    padding: 1rem 5rem;
    background-color: #ff6e14;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 3rem;
}




header{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px gray;
}

header a{
    text-decoration: none;
    color: #ff6e14;
    font-size: 1.5rem;
    padding: 1rem;
    
}

.prix{
    text-align: center;
}

.files{
    text-align: center;
}

header a:hover{
    color: #f07b42;
}

h1{
    font-weight: 900;
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.add,.remove{
    text-align: center;
    margin-bottom: 2rem;
   
}

.add h2,.remove h2{
    margin-bottom: 2rem;
}

.add a,.remove a{
    background-color: #ff6e14;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3rem;
    
}



.add form{
    display: flex;
    flex-direction: column;   
}

.remove form{
    display: flex;
    flex-direction: column;
}

.remove input{
    margin-bottom: 1rem;
    border-radius: 3rem;
    padding: 10px 0;
    border: 1px gray solid;
}

.remove button{
    background-color: #ff6e14;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    padding: 10px 0;
    font-weight: bold;
}

.add input{
    margin-bottom: 1rem;
    border-radius: 3rem;
    padding: 10px 0;
    border: 1px gray solid;
}

.add button{
    background-color: #ff6e14;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    padding: 10px 0;
    font-weight: bold;
}